.web-logo{
    width: 20%;
    margin: 0 3%;
    filter: brightness(0) invert(1);
}
.header{
    padding: 2% 5%;
}
.input-field{
    background-color: rgba(240, 248, 255, 0.404);
    width: 30%;
    height: 40px;
    border: 1px solid white;
}
.input-field::placeholder{
    color: white;
}
form a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    margin: 1.5% 2%;
}
input{
    margin: 1% 2%;
}
.login-btn{
    margin: 1% 2%;
    padding: 0 20px;
    height: 40px;
}
form a:hover{
    text-decoration: none;
}